<!doctype html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous" nonce="{{ csp_nonce() }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous" nonce="{{ csp_nonce() }}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" nonce="{{ csp_nonce() }}">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous" nonce="{{ csp_nonce() }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js" type="text/javascript" charset="utf-8" nonce="{{ csp_nonce() }}"></script>
</head>

<body>

    <!-- A two column layout -->
    <div class="container">
        <h1>&#127881 SQLFluff Online &#127881</h1>

        <p>
            <a href='https://github.com/sqlfluff/sqlfluff'>SQLFluff</a> is a SQL
            formatter that is implemented in Python. You can use this app to format
            one-off, adhoc sql that might not be worth saving to a file. Or you can use
            it to see what SQLFluff thinks of your queries. It's up to you!
        </p>

        <p>
            You can check out the source code for this application on GitHub
            (<a href='https://github.com/sqlfluff/sqlfluff-online'>click</a>).
        </p>

        <p>
            Paste your SQL and select your dialect. Hit that button and find your fixed
            SQL with the associated linter errors. Enjoy, friends &#127773.
        </p>

        <hr>

        <div class="row">
            <!-- user input -->
            <div class="col-sm">
                {% block left %}{% endblock %}
            </div>

            <div class="col-sm">
                {% block right %}{% endblock %}
            </div>
        </div>

        <hr>

        <button class="btn btn btn-outline-dark btn-block" type="button" data-toggle="collapse" data-target="#more_info"
            aria-expanded="false" aria-controls="collapseExample">
            Click me for more info on this app
        </button>

        <hr>

        <div class="collapse" id=more_info>
            <p>
                SQLFluff is maintained by a group of <s>talented</s> attractive and
                selfless people who are all driven by a common disdain for poorly
                formatted SQL. If you like fluff's treatment of your queries, feel
                encouraged to check out our group on
                <a href='https://github.com/sqlfluff'>GitHub</a>!
            </p>
            <p>
                This app runs on SQLFluff version {{sqlfluff_version}}, and applies all
                rules in that version. Here is a list of them:
            </p>

            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">Rule</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>

                    {% for code, description in all_rules.items() %}
                    <tr>
                        <th scope="row">{{code}}</th>
                        <td>{{description}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <style>
        body {
            margin: 2em;
            max-width: 1500px;
        }

        #counter-container {
            margin-top: .50rem;
        }

        #counter {
            padding: .25rem .75rem;
        }

    </style>
    {% block scripts %}{% endblock %}
</body>
