{% extends 'base.html' %}
{% block left %}
<h2>Your Terrible SQL</h2>
<form action='{{url_for("routes.home")}}' method="post">
    <div class="form-group">
        <textarea class="form-control text-monospace" name='sql' data-editor="sql" , id="user_sql"
            rows="20">{{sql}}</textarea>
        <div id="counter-container">
            <small id="counter"></small>
        </div>

    </div>

    <div class="form-group">
        <label for="sql_dialect">Dialect</label>
        <select class="form-control" id="sql_dialect" name='dialect' required>
            {% for d in all_dialects %}
            <option value='{{d}}' {% if dialect and d==dialect %} selected=selected {% endif %}>
                {{d}}
            </option>
            {% endfor %}
        </select>
    </div>

    <button type="submit" class="btn btn-primary mb-2 btn-block" id="submitButton">Help me.</button>
</form>
{% endblock %}


{% block right %}
{% if results %}
<h2>SQLFluff's Fixed SQL</h2>
<textarea id=fixedSQL class="form-control text-monospace" rows="20" readonly>{{fixed_sql}}</textarea>

<hr>

{% if lint_errors %}
<div class="alert alert-danger" role="alert">
    Hi! I found some errors for you to look at
</div>

<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th scope="col">Code</th>
            <th scope="col">Line / Position</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>

        {% for violation in lint_errors %}
        <tr>
            <th scope="row">{{violation['code']}}</th>
            <td>{{violation['line_no']}} / {{violation['line_pos']}}</td>
            <td><pre>{{violation['description'].replace('\\n','\n')}}</pre></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-success" role="alert">
    No problems! Nice job friend.
</div>

{% endif %}
{% endif %}
{% endblock %}


{% block scripts %}
<script nonce="{{ csp_nonce() }}">
    // hook up ACE editor to all textareas with data-editor attribute
    $(function () {
        $('textarea[data-editor]').each(function () {
            var textarea = $(this);
            var mode = textarea.data('editor');
            var editDiv = $(
                '<div>',
                {
                    position: 'absolute',
                    width: textarea.width(),
                    height: textarea.height(),
                    'class': textarea.attr('class')
                }
            ).insertBefore(textarea);
            textarea.css('display', 'none');

            var editor = ace.edit(editDiv[0]);
            editor.renderer.setShowGutter(true);
            editor.getSession().setValue(textarea.val());
            editor.getSession().setMode("ace/mode/" + mode);
            editor.setTheme("ace/theme/chrome");

            var maxLength = 3000;

            // update character counter on keyup
            editor.textInput.getElement().onkeyup = function () {
                var sql = editor.session.getValue()
                var remaining = maxLength - sql.length
                var txt = `${remaining} characters remaining.`
                document.getElementById('counter').textContent = txt

                if (remaining < 0) {
                    document.getElementById("submitButton").disabled = true
                    document.getElementById('counter').className = 'alert alert-warning'
                } else {
                    document.getElementById("submitButton").disabled = false
                    document.getElementById('counter').className = ''
                }
            }

            // disable insert if limit is reached
            var doc = editor.session.doc
            doc.applyAnyDelta = doc.applyAnyDelta || doc.applyDelta
            doc.applyDelta = function (delta) {
                if (delta.action == "insert" && this.$maxLength && this.getValue().length >= this.$maxLength) {
                    return false;
                }
                return this.applyAnyDelta(delta);
            }
            doc.$maxLength = maxLength

            // copy back to textarea on form submit
            textarea.closest('form').submit(function () {
                textarea.val(editor.getSession().getValue());
            })

        });
    });

    // Listen out for Command + Enter to submit form
    window.addEventListener('keydown', function(e) {
        if(e.keyCode == 13 && e.metaKey) {
            document.getElementById('submitButton').click();
        }
    });

</script>
{% endblock %}
