name: Deploy To GAE

on:
  push:
    branches:
    - master

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Authorize to Google Cloud
      uses: 'google-github-actions/auth@v2'
      with:
        credentials_json: '${{ secrets.GOOGLE_SERVICE_ACCOUNT_CREDENTIALS_JSON }}'

    - name: Deploy to App Engine
      id: deploy
      uses: google-github-actions/deploy-appengine@v2

    - name: cURL Test
      run: curl "${{ steps.deploy.outputs.url }}"

    - name: Set up Cloud SDK
      uses: 'google-github-actions/setup-gcloud@v3'

    - name: Delete Old App Versions
      # delete all but latest 5 versions
      run: |
        gcloud app versions list \
          --format="value(version.id)" \
          --sort-by="~version.createTime" \
          | tail -n +5 \
          | xargs -r gcloud app versions delete --quiet

    # make sure we didn't delete the current version
    - name: cURL Test
      run: curl "${{ steps.deploy.outputs.url }}"
