name: Lint and 100% Test Coverage

on: [push, pull_request]

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v3
        with:
          python-version: "3.8"

      - name: Install Dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements-dev.txt

      - name: Lint and Unit Test
        run: tox
